<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Active Ingredients Directory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Active Ingredients</h2>
        <hr>
        <a th:href="@{/actives/addActiveForm}" class="btn btn-primary btn-sm mb-3">
            Add Active Ingredient
        </a>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Raw Material Name</th>
                <th>Active Ingredient</th>
                <th>Potency</th>
                <th>Manufacturer</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="tempActive : ${active}">
                    <td th:text="${tempActive.name}"></td>
                    <td th:text="${tempActive.active}"></td>
                    <td th:text="${tempActive.potency}"></td>
                    <td th:text="${tempActive.manufacturer.manName}"></td>
                    <td>
                        <a th:href="@{/actives/showFormForUpdate(activeId=${tempActive.id})}"
                           class="btn btn-info btn-sm">Update</a>
                        <a th:href="@{/actives/delete(activeId=${tempActive.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>