<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Active Ingredients Directory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Manufacturers</h2>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Manufacturer Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>

            <tbody>
               <tr th:each="tempMan : ${manufacturer}">
                   <td th:text="${tempMan.manName}"></td>
                   <td th:text="${tempMan.country}"></td>
                   <td th:text="${tempMan.city}"></td>
                   <td th:text="${tempMan.email}"></td>
                   <td th:text="${tempMan.phone}"></td>
               </tr>
            </tbody>
        </table>
    </div>
</body>

</html>